header {
    #sidemenu {
        padding-top: 75px;
        width: 200px;
        height: 100%;
        position: absolute;
        border-right: 1px solid rgb(20, 16, 16);
        background: #15172E;

        .user {
            border-bottom: 1.5px solid #10112F;
            text-align: center;
            padding-bottom: 10px;
            .avatar {
                img {
                    width: 75%
                }
            }
            .username {
                h4 {
                    margin: 0px;
                    font-weight: normal;
                    font-size: 15px;
                    padding-top: 20px;
                    color: white;
                }
                small {
                    color: rgb(150, 151, 163)
                }
            }
        }

        .list-menu {
            list-style: none;
            padding: 0px;
            li {
                padding: 8px 10px;
                color: white;
                font-size: 14px;

                i {
                    margin-right: 5px;
                }
            }
            li:hover {
                color: #FD2954;
                background: #171930;
            }
        }
    }
}
.navbar.bg-dark {
    background: #15172E !important;
    a {
    color: white !important;

    }
}